@model BeFit.Models.ExerciseRecord

@{
    ViewData["Title"] = "Usuń wykonane ćwiczenie";
}

<h1>Usuń wykonane ćwiczenie</h1>

<h3>Czy na pewno chcesz usunąć to ćwiczenie?</h3>
<div>
    <h4>@Model.ExerciseType.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Data sesji treningowej
        </dt>
        <dd class="col-sm-9">
            @Model.TrainingSession.StartDateTime.ToString("dd.MM.yyyy HH:mm")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ExerciseType)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ExerciseType.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Weight) kg
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Sets)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Sets)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Repetitions)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Repetitions)
        </dd>
        <dt class="col-sm-3">
            Łączna liczba powtórzeń
        </dt>
        <dd class="col-sm-9">
            @(Model.Sets * Model.Repetitions)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
    </form>
</div>

